{% extends "FoodRepublic/base.html" %}
{% load static %}
{% block content %}
  <form method="POST">
  {% csrf_token %}
  <div class="container">
  <h1 style="color: red">{{final_data.0.0}}</h1>
  <table>
    <tr>
      <th><h2>Dish</h2></th>
      <th><h2>Price</h2></th>
    </tr>
    {% for data in final_data%}
      <tr>
        <td><h4 id="dishN">{{data.1}}</h4></td>
        <td><h4 id="priceN">{{data.2}}</h4></td>
      </tr>
       <script>
    document.getElementById('dish').value = document.getElementById('dish').value +',{{data.1}}';
    document.getElementById('price').value = document.getElementById('price').value +',{{data.2}}';
  </script>
    {%endfor %}
    <tr>
    <td><h4>Total</h4></td>
    <td><h4 id="tot">{{total}}</h4></td>
  </tr>
  <tr>
    <td><h4>Total + Tax</h4></td>
    <td><h4 id="gtot">{{grand_total}}</h4></td>
  </tr>
  </table>
  <h3>Address : </h3><textarea name="address"></textarea>
  <h3>Phone Number :</h3><input type="tel" name="phoneNumber">
</div>
<div class="container">
   <input type="hidden" name="username" value="{{user.username}}" id="username">
  <input type="hidden" name="Dish" value="" id="dish">
  <input type="hidden" name="Price" value="" id="price">
  <input type="hidden" name="total" value="" id="total">
  <input type="hidden" name="grand_total" value="" id="gtotal">
  <input type="hidden" name="restName" value="{{final_data.0.0}}">
  <h3>
    Select Mode of Payment : 
  </h3><a type="submit" name="Payment" class="waves-effect waves-light btn-small red lighten-1" href="{% url 'FoodRepublic-home'%}">Pay</a>
  </div></form>
  <script>
    document.getElementById('total').value = document.getElementById('tot').value;
    document.getElementById('gtotal').value = document.getElementById('gtot').value;
  </script>

{% endblock content %}